{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/typescript",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-explicit-any": [
      "error"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-console": [
      "warn"
    ],
    "@typescript-eslint/no-var-requires": [
      "off"
    ]
  }
}